/*********************************************************************************/
/* BODY                                                                   */
/*********************************************************************************/

	html, body {
		height: 100%;
	}

	body {
		margin: 0px;
		padding: 0px;
		background: #FAFAFA;
		font-family: 'Noto Serif', serif;
		font-size: 12pt;
		font-weight: 400;
		color: #383838;
	}

	h1, h2, h3 {
		margin: 0;
		padding: 0;
	}

	p, ol, ul {
		margin-top: 0;
	}

	ol, ul {
		padding: 0;
		list-style: none;
	}

	p {
		line-height: 180%;
	}

	strong {

	}

	a {
		color: #383838;
	}

	a:hover {
		text-decoration: none;
	}

	.container {
		width: 1200px;
		margin: 0px auto;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image {
		display: inline-block;
	}

	.image img {
		display: block;
		width: 100%;
	}

	.image-full {
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}

	.image-left {
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered {
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img {
		margin: 0 auto;
		width: auto;
	}

	.border {
		border-width: 10px;
		border-color: #FAFAFA;
		border-style: solid;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1 {

	}

/*********************************************************************************/
/* Social background Styles                                                            */
/*********************************************************************************/

	ul.contact {
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}

	ul.contact li {
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span {
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a {
		color: #FFF;
	}

	ul.contact li a:before {
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major {
		overflow: hidden;
		margin-top: 4em;
		margin-bottom: 4em;
		text-align: center;
	}

	.major h2 {
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 3em;
		font-weight: 700;
		color: #FAFAFA;
	}

	.major .byline {
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 2em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title {
		text-align: center;
	}

	.title a {
		text-decoration: none;
	}

	.title h2 {
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		color: #3f3f3f;
	}

	.title .byline {
		display: block;
		padding-top: 1em;
		font-weight: 300;
		font-size: 1.1em;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button {
		display: inline-block;
		margin: 1em 0em;
		padding: 1em 3em 1em 3em;
		background: #383838;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FAFAFA;
	}

	.button:before {

	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	header {
		background-color: #383838;
		color: #FAFAFA;
		font-family: 'Libre Baskerville', serif;
		font-size: 18px;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo {
		padding: 3em 0em;
		text-transform: uppercase;
		font-family: 'Noto Serif', serif;
	}

	.logo-img {
		width: 150px;
		float: left;
		margin-left: 200px;
		margin-top: -15px;
	}

	#logo h1 {
		text-align: center;
		font-weight: 900;
		//font-size: 2.5em;
		font-size: 55px;
		margin-right: 150px;
	}

	#logo h1 a {

	}

	#logo span {
		padding: 0em 0em 0em 0.5em;
	}

	#logo h1:before {

	}

	#logo a {
		color: #3f3f3f;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	nav ul {
		margin: 0;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}

	nav li {
		display: inline-block;
	}

	nav a {
		display: block;
		padding: 1em 1em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		//font-size: 1em;
		font-weight: bold;
		color: #FAFAFA;
	}

	nav .current_page_item a {
		background-color:  #535353;
	}

	nav a:hover {
		background-color:  #535353;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	.page-banner {
		overflow: hidden;
		width: 100%;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page {
		overflow: hidden;
		//padding: 6em 0em;
		border-top: 1px solid #E5E5E5;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content {
		float: left;
		width: 588px;
	}

	#content .title {
		padding-bottom: 2em;
		text-align: left;
	}

	#content h2 {
		font-size: 2em;
	}

	#content .byline {
		padding-top: 0;
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar {
		float: right;
		width: 588px;
	}

/*********************************************************************************/
/* Footer                                                                     */
/*********************************************************************************/

	footer {
		background-color: #383838;
	}

	#copyright {
		overflow: hidden;
		padding: 5em 0em;
	}

	#copyright p {
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 1em;
		color: #FAFAFA;
	}

	#copyright a {
		text-decoration: none;
		color: #FAFAFA;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper {
		overflow: hidden;
		//padding: 3em 0em;
		background: #FAFAFA;
	}

	#featured h2 {
		text-align: center;
	}

	#featured .icon {
		//position: relative;
		//display: block;
		//margin: 0px auto 20px auto;
		//line-height:  normal;
		//font-size: 6em;
		//text-align: center;
		//color: #3f3f3f;
	}

	.column1, .column2, .column3, .column4 {
		width: 282px;
	}

	.column1, .column2 {
		float: left;
		margin-right: 24px;
	}

	.column3 {
		float: left;
	}

	.column4 {
		float: right;
	}

/*********************************************************************************/
/* Hover Images                                                                     */
/*********************************************************************************/

	.hover_image:hover {
		text-decoration: none;
	} /* Optional (avoid undesired underscore if a is used as wrapper) */

	.hide {
		display: none;
	}
	/* Do the shift: */

	.hover_image:hover img:first-child {
		display: none;
	}

	.hover_image:hover img:last-child {
		display: inline-block;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper {
		padding: 3em 0em;
		background-color: #1B375F;
	}

	#portfolio {
		overflow: hidden;
		text-align: center;
		font-famil: 'Noto Serif', serif;
	}

	#portfolio img {
		margin: 0;
		padding: 0;
	}

	#portfolio .box {
		padding: 30px;
		background: #FAFAFA;
		//border-bottom: 2px solid #7C7C7C;
		//border-right: 1px solid #DADADA;
		//border-left: 1px solid #DADADA;
	}

	.column1-port, .column2-port {
		width: 250px;
	}

	.column1-port {
		float: left;
		margin-left: 15em;
	}

	.column2-port {
		float: right;
		margin-left: 0em;
		margin-right: 15em;
	}

/*********************************************************************************/
/* Parallax                                                                    */
/*********************************************************************************/

	.parallax-1 {
		background-image: url("images/train-words.jpg");
		min-height: 500px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.parallax-2 {
	background-image: url("images/traffic-words.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
